.profileform{
	display: flex;
	flex-direction: column;
	margin: auto 100px
}
.profileform--center{
	display: flex;
	background-color: #fafafa;
	border: 1px solid #999;
	width: 800px;
	margin: 40px auto;	
	position: relative;
	justify-content: center;
}

.profileform--column{	
	margin: 10px 10px
}

.profileform--header{
	display: grid;
	width: 300px;
	grid-template-areas: "logo logo logo"
                       "index profile blog";
}
.profileform--header--icon{
	grid-area: logo;
}
.profileform--header--index{
	grid-area: index;
}
.profileform--header--profile{
	grid-area: profile;
}
.profileform--header--blog{
	grid-area: blog;
}

.profileform--footer{
	display: flex;
	width: 180px;
	justify-content: space-between;
}
