.blog-best-articles{
  height: 50px;
  width: 100%;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.blog-content-articles{
  float: left;
  display: grid;
  grid-gap: 9%;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  color: #444;
  width: 100%;
}
article{

}

article img{
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}


