

.image img{
	width: 153px;
	height: 50px;
}

.navegation{
	display: flex;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;

}

.navegation-first{
	justify-content: left;
	border-right: 1px solid #D0D0D0;
	width: 10%;
}


.navegation-middel{
	display: flex;
	width: 80%;
}

.navegation-middel_link{
	justify-content: center;
  	width: auto; 
  	padding: 10px; 
  	border-right: 1px solid #D0D0D0;
}

.navegation-middel_link a{
	text-decoration:none; 
	color: black;
}

.navegation-last{
	justify-content: right;
	border-left: 1px solid #D0D0D0;
	width: 10%;
}



.main-content{
	background: #F0F0F0;
	width: auto;
	height: auto;
}

.main-content_title{
	margin-left: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 1.2em;
    font-weight: bold;   

}

.main-content-separator {
    float: left;
    width: 24px;
    margin-top: -8px;
    border-bottom: 1px solid #eae1e1;
    margin-left:10%;
}

.main-content_section{
	margin-left: 10%;
    background: white;
    width: 80%;
    height: auto;
}

.main-content_section_image{
	padding: 5%;
}

.main-content_section_image img{
	width: 100%;

}


.main-content_section-text{
	padding-top: 1%;
	padding-left: 5%;
	padding-bottom: 5%;
}

.main-content_section-text_type{
 	color: yellow;
    text-align: left;
    padding-bottom: 1%;
}

.main-content_section-text_date{
	color: grey;
	text-align: left;
}

.main-content_section-text_title{
	display: block;
    font-size: 1.2em;
    padding: 10px 0px;
    text-align: left;
    font-weight: bold;
}

.main-content_section_article{
	text-align: left;
	margin-right: 6%;
}

.footer{
	margin-top: 20%;
	margin-left: 10%;
	border-top: 1px solid #D0D0D0;
	width: 80%;
}

.footer_navegation{
	display: flex;
}

.footer_navegation_div{
	justify-content: left;
	margin:1%;
	color:#D0D0D0;
}


@media only screen
	and (device-width:375px)
	and (device-height:812px){

	.image-blog{
		margin-left: 2%;
	}

	.image-blog img{
		width:350px;
		height: 150px;
	}

	.navegation {	   
	    height: 100px;
	}


	.navegation-first {	  
	    width: 2%;
	}

	.navegation-middel {
	    width: 96%;
	}

	.navegation-last {
	    width: 2%;
	}

	.navegation-middel_link {
	    font-size: 3em;
	    padding: 3%;
	}


	.main-content_title {
	    margin-left: 2%;
	    padding-top: 2%;
	    padding-bottom: 2%;
	    font-size: 1.5em;
    	font-weight: bold;   

	}


	.main-content-separator {
	    float: left;
	    width: 24px;
	    margin-top: -10px;
	    border-bottom: 1px solid #eae1e1;
	    margin-left:3%;
	}

	.main-content_section {
	    margin-left: 2%;
	    width: 96%;
	}


	.main-content_section-text {
	    font-size: 1.6em;
	}


	.footer {
	    height: 90px;
	}

	.footer_navegation_div {
	    font-size: 3em;
	}


}