#map{
    margin-top: 40px;
    height: 300px;
}

.location-info-map{
    margin: 30px 0px 0px 30px;
}

.location-info-content{
    display: flex;
    align-items: center;
    justify-content: center;
}