body{
	background-color: #fafafa;
}
.profileform{
	display: flex;
	flex-direction: column;
	margin: auto 100px;
}
.profileform--header{
	display: grid;
	width: 300px;
	grid-template-areas: "logo logo logo"
					   "index profile blog";
}
@media only screen
 and (max-device-width: 600px) {
	.profileform--header{
		display: grid;
		width: 100%;
		grid-template-areas: "logo"
						   "index"
						   "profile"
						   "blog";
						   
		 transition-duration: 2s;
		 transition-property: width;
		 transition-delay: 0s;
		 transition-timing-function: ease-in;
	}
}
.profileform--header--child{
	padding: 10px;
	border: 1px solid #000000;
}
.profileform--header--icon{
	grid-area: logo;
}
.profileform--header--index{
	grid-area: index;
}
.profileform--header--profile{
	grid-area: profile;
}
.profileform--header--blog{
	grid-area: blog;
}
.profileform-form{
	border: 1px solid #999;
	width: 1000px;
	background-color: #ffffff;
	margin: 40px auto;
}
@media only screen
 and (max-device-width: 600px) {
	 .profileform-form{
		width: 100%;
		padding: 15px;
	 }
 }
.profileform--content{
	display: flex;
	justify-content: center;
}
@media only screen
 and (max-device-width: 600px) {
	.profileform--content{
		display: flex;
		flex-direction: column;
	}
 }
.profileform--content--column{
	margin: 10px 10px;
	width: 250px;
}
@media only screen
 and (max-device-width: 600px) {
	.profileform--content--column{
		margin: 10px 0px;
		width: 100%;
	}
 }
.profileform--content--item{	
	font-family: verdana;
	font-size: 12px;
	display: flex;
	margin: 20px 0px;
	flex-direction: column;
}
@media only screen
 and (max-device-width: 600px) {
	 .profileform--content--item{	
		font-size: 24px;
	}
 }
.profileform--footer{
	display: flex;
	width: 180px;
	justify-content: space-between;
	font-family: verdana;
	font-size: 12px;
}
.profileform--title{
	font-family: verdana;
	font-size: 8px;
}
@media only screen
 and (max-device-width: 600px) {
	 .profileform--title{
		font-size: 16px;
	}
 }
 @keyframes widthchange {
  from {
    width: 0%;
  }
  to {
    width: 98%;
  }
}
.profileform--input{
	background-color: #f4f4f4;
	height: 22px;
	padding: 5px;
}
@media only screen
 and (max-device-width: 600px) {
	 .profileform--input{
		 font-size: 20px;
		 animation-duration: 3s;
		animation-name: widthchange;
	 }
 }
.profileform--input--color{
	height: 30px;
	width: 80px;
	padding: 0px;
	color: red;
	animation-name: none;
}
.profileform--input:valid{
	background: #9FFFC2 url(../images/success.png) no-repeat 98% center;
}
.profileform--input:invalid{
	background: #ffcfd6 url(../images/error.png) no-repeat 98% center;
}
.button{
	font-family: verdana;
	font-size: 16px;
	padding: 3px 10px;
	margin: 5px;
	border-radius: 3px;
	animation:spin 1s linear;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.button--positive{
	color: #ffffff;
	background-color: #2D8CEB;
	border: 0px;
}
.button--negative{
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #000000;;
}
.link{
	color: #aaaaaa;
	text-decoration: none;
}
